In [31]:
import pandas as pd

# Define the file path
file_path = 'C:/Users/Pedro/Dropbox/PC/Documents/GitHub/SQLFinalProject/fuel_comsumption.xlsx'

# List all sheet names, excluding the first sheet
excel_file = pd.ExcelFile(file_path)
sheet_names = excel_file.sheet_names[1:]  # Exclude the first sheet

all_data = pd.DataFrame()

for sheet in sheet_names:
    try:
        if sheet.isnumeric(): 
            sheet_data = pd.read_excel(file_path, sheet_name=sheet, skiprows=7)
            sheet_data['Year'] = sheet 
            all_data = pd.concat([all_data, sheet_data])
    except Exception as e:
        print(f"Could not process sheet {sheet}: {e}")

# Drop columns with all NaN values and unnecessary rows
all_data.dropna(axis=1, how='all', inplace=True)
all_data.dropna(axis=0, thresh=2, inplace=True)
relevant_columns = [
    "Unnamed: 0", "Unnamed: 1", "PASSENGER", "MOTOR-", "BUSES",
    "2-AXLE 4-TIRE", "OR MORE", "COMBINATION", "AND", "OR MORE AND",
    "VEHICLES", "Year"
]
all_data = all_data[relevant_columns]

all_data.columns = [
    "Road Category", "Detail", "Passenger Cars", "Motorcycles", "Buses",
    "Other 2-Axle 4-Tire Vehicles", "Single-Unit 2-Axle 6-Tire or More Trucks",
    "Combination Trucks", "Other 2-Axle", "Single-Unit and Combination Trucks",
    "Total Vehicles", "Year"
]

# Drop rows with NaN in 'Year' and 'Road Category' which are unnecessary headers
all_data = all_data.dropna(subset=['Year', 'Road Category']).reset_index(drop=True)

print("Cleaned Combined Data:")
print(all_data.head(10))

Combined Data before Cleaning:
  Unnamed: 0                        Unnamed: 1 PASSENGER  MOTOR-   BUSES  \
0        NaN                               NaN      CARS  CYCLES     NaN
1        NaN                               NaN       NaN     NaN     NaN
2        NaN             Motor-Vehicle Travel:       NaN     NaN     NaN
3        NaN       (millions of vehicle-miles)       NaN     NaN     NaN
4       2000                  Interstate Rural    134466    1164   978.0
5        NaN                               NaN       NaN     NaN     NaN
6       2000              Other Arterial Rural    234743    1680  1270.0
7        NaN                               NaN       NaN     NaN     NaN
8       2000                       Other Rural    224182    1663  2241.0
9        NaN                               NaN       NaN     NaN     NaN

  2-AXLE 4-TIRE     OR MORE COMBINATION              AND  OR MORE AND  \
0  VEHICLES  2/  TRUCKS  3/      TRUCKS     OTHER 2-AXLE  COMBINATION
1           NaN         NaN         NaN  4-TIRE VEHICLES       TRUCKS
2           NaN         NaN         NaN              NaN          NaN
3           NaN         NaN         NaN              NaN          NaN
4         79088        8236       44248           213554        52484
5           NaN         NaN         NaN              NaN          NaN
6        141257       13644       28005           376000        41649
7           NaN         NaN         NaN              NaN          NaN
8        140010       13722       12555           364192        26277
9           NaN         NaN         NaN              NaN          NaN

   VEHICLES  Year  VEHICLES   2/ VEHICLES.1 SINGLE-UNIT LIGHT DUTY  VEHICLES.2
0       NaN  2000            NaN        NaN         NaN        NaN         NaN
1       NaN  2000            NaN        NaN         NaN        NaN         NaN
2       NaN  2000            NaN        NaN         NaN        NaN         NaN
3       NaN  2000            NaN        NaN         NaN        NaN         NaN
4  268180.0  2000            NaN        NaN         NaN        NaN         NaN
5       NaN  2000            NaN        NaN         NaN        NaN         NaN
6  420599.0  2000            NaN        NaN         NaN        NaN         NaN
7       NaN  2000            NaN        NaN         NaN        NaN         NaN
8  394373.0  2000            NaN        NaN         NaN        NaN         NaN
9       NaN  2000            NaN        NaN         NaN        NaN         NaN
Cleaned Combined Data:
  Road Category                     Detail Passenger Cars Motorcycles  \
0          2000           Interstate Rural         134466        1164
1          2000       Other Arterial Rural         234743        1680
2          2000                Other Rural         224182        1663
3          2000                  All Rural         593391        4507
4          2000           Interstate Urban         230510        1692
5          2000                Other Urban         776386        4270
6          2000              All Urban  4/        1006896        5962
7          2000      Total Rural and Urban        1600287       10469
8          2000   Number of motor vehicles      133621420     4346068
9          2000     Average miles traveled   11976.275959  2408.84404

           Buses Other 2-Axle 4-Tire Vehicles  \
0     978.000000                        79088
1    1270.000000                       141257
2    2241.000000                       140010
3    4489.000000                       360355
4     791.000000                       128291
5    2310.000000                       434413
6    3101.000000                       562704
7    7590.000000                       923059
8  746125.000000                     79084979
9   10172.558217                 11671.736045

  Single-Unit 2-Axle 6-Tire or More Trucks Combination Trucks Other 2-Axle  \
0                                     8236              44248       213554
1                                    13644              28005       376000
2                                    13722              12555       364192
3                                    35602              84808       953746
4                                     8716              23465       358801
5                                    26182              26747      1210799
6                                    34898              50212      1569600
7                                    70500             135020      2523346
8                                  5926030            2096619    212706399
9                             11896.666065       64398.920357  11863.04696

  Single-Unit and Combination Trucks Total Vehicles  Year
0                              52484       268180.0  2000
1                              41649       420599.0  2000
2                              26277       394373.0  2000
3                             120410      1083152.0  2000
4                              32181       393465.0  2000
5                              52929      1270308.0  2000
6                              85110      1663773.0  2000
7                             205520      2746925.0  2000
8                            8022649    225821241.0  2000
9                        25617.47373    12164.15687  2000